{% extends "articles/magazine/single.twig" %}

{% block magazine_article %}
	
	{{ magazineMacros.getTitle(results) }}
	{{ globalMacros.getSubheadline(results) }}
	{{ globalMacros.getAuthorDateTopicLine(results) }}
	{{ globalMacros.getEmphasis(results) }}
	
	<div class="body-content">

		{% block magazine_inset %}
			{{ parent() }}
		{% endblock %}

		{% block magazine_body %}
			{{ parent() }}
		{% endblock %}

	</div>
	
	{{ globalMacros.getAside(results) }}
{% endblock %}