{% set nav_elements = {
	"Gazette Home" : "/gazette",
	"About" : "/gazette/about",
	"Past Issues" : "/gazette/past-issues",
	"Advertise" : "/gazette/advertise",
	"Contact" : "/gazette/contact"
} %}

{% if section == "article" %}
	{% set nav_elements = nav_elements|merge({ "Contents" : issue.url }) %}
{#}
{% else %}
	{% set nav_elements = nav_elements|merge({ "Current Issue" : "http://what" }) %}
{#}
{% endif %}

{#}
<select class="main-navigation visible" id="main-navigation">
{% for key, value in nav_elements %}
	<option value="{{ value }}">{{ key }}</option>
{% endfor %}
</select>
{#}

<div class="gazette-navigation section-navigation">
{% for key, value in nav_elements %}
	{% if key == "Contents" %}
		<a id="toc-button" class="toc-button open-toc" href="{{ value }}"><i class="icon icon-list-ul"></i> {{ key }}: {{ issue.edition }} {{ issue.publish_date|date("Y") }}</a>
	{% else %}
		<a href="{{ value }}">{{ key }}</a>
	{% endif %}
{% endfor %}
</div>
