{% extends "layouts/" ~ layout ~ ".twig" %}

{% set location = results._embedded.locations[0] %}

{% block head %}
	{{ parent() }}
	<link rel="alternate" type="application/rss+xml" title="Events - Hub" href="{{ request.rootUri }}/events/feed" />
{% endblock %}

{% block meta %}
	<meta name="description" content="{{ results.excerpt|replace('"', "'") }}">
	{{ globalMacros.eventMeta(results) }}
{% endblock %}

{# Setup container div classes #}
{% set classes = ["event", "single-view", "col", "measure", "wide"] %}

{% if results._embedded.image_impact is not null %}
	{% set classes = classes|merge(["has-image"]) %}
{% else %}
	{% set classes = classes|merge(["no-image"]) %}
{% endif %}

{% block title %}
	{{ results.name }} | Hub
{% endblock %}

{% block page_content %}

	<div>

		<div class="{{ classes|join(" ") }}" data-api="/events/{{ results.id }}">
			{% 
				set vars = {
					"headline": results.name, 
					"url": results.url,
					"thumbnail": results._embedded.image_thumbnail.sizes.thumbnail[0],
					"summary": results.excerpt,
					twitter: {
						"hashtags": ["hubjhu"],
						"related": ["HubJHU", "JohnsHopkins"]
					},
					"event_id": results.id
				}
			%}
			{% include "partials/share-bar.twig" with vars %}


			<h1>{{ results.name }}</h1>

			{% if results.subname is not null %}
				<h2 class="subheadline">{{ results.subname }}</h2>
			{% endif %}
			

			<div class="body-content force">

				<div class="meta-data">
					{{ globalMacros.eventDate(results) }}
					{{ globalMacros.eventTime(results) }}
					{{ globalMacros.eventLocation(results) }}
					{{ globalMacros.eventRegistration(results) }}
				</div>

				<div class="description">
					{% if results.featured == true and results._embedded.image_inline is not null %}
						{{ globalMacros.getImage(results._embedded.image_inline[0], "medium", true, "inline event-inset-section inset-element" ) }}
					{% endif %}

					{{ results.description }}
				</div>

				<div class="map-container">
					<div id="map"></div>
				</div>
				
			</div>

			<div id="comments">
				<div class="force">
					<h3>Comments</h3>
					<a href="/community-guidelines">Community guidelines</a>
				</div>
				<p class="disclaimer">Editor’s note: We welcome your comments; all we ask is that you keep it civil and on-topic, and don't break any laws. We reserve the right to remove any inappropriate comments.</p>
				{% include "partials/events-disqus.twig" %}
			</div>

		</div>

		{% include "partials/event-sidebar.twig" %}

	</div>

{% endblock %}

{% block footer %}
	<script type="text/template" id="template-events-related">
    {% include "partials/related-event.js" %}
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	{{ parent() }}

	{% if location is not null %}
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		{% include "partials/scripts/events.twig" %}
	{% endif %}
	
	<script type="text/javascript">
	hubster.single.init();

	{% if location is not null %}

		var latitude = {{ location.latitude }};
		var longitude = {{ location.longitude }};

		var map = googleMapper.init("#map").createMap(latitude, longitude);
		var marker = googleMapper.plotPoint(map, latitude, longitude);
		var html = googleMapper.locationHtml({{ location|json_encode|raw }});
		var infoWindow = googleMapper.addInfoWindow(map, marker, html, true, 200);

	{% endif %}

	// featured events
    lazy.load([".featured-events"]);

    {% if preview != true %}
    	hubster.articlesPage.updatePopularity({{ results.id }});
    {% endif %}
	</script>
{% endblock %}