{% extends "layouts/hub.twig" %}

{% block stylesheet %}
	{{ parent() }}
	<style type="text/less">
		{% include "partials/styles/developers.less" %}
	</style>
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="alternate" type="application/rss+xml" title="{{ page_title }} - Hub" href="{{ request.rootUri }}{{ request.resourceUri }}/feed" />
{% endblock %}

{% block site_content %}

	<div class="topic-page events-multi-view content-area section">
		
		<div class="hub-header">
			<div class="center force">
				{% include "partials/hub-header.twig" %}
			</div>
		</div>

		<div class="topic-feature-area rail">
			<div class="center force page-header">
				<h1 class="rail-title">{{ page_title }}</h1>
				<p class="submit-event">
					<a class="btn" href="/submit-event"><i class="icon-plus"></i>&nbsp;&nbsp; Submit an Event</a>
				</p>
			</div>
		</div>
		
		{% if results.endpoint is defined %}
				
			<div class="page-container center force">

				<div class="col narrow filters-col force">

					<div class="filters-container closed force">
						
						<div class="display-nav">
							<span>Show Filters</span>
							<i class="icon-caret-down"></i>
							<i class="icon-remove"></i>
						</div>

						<div class="filters closed">

							<div class="section">



                <p><button type="button" class="btn" data-toggle="modal" data-target="#subscribeModal"><i class="icon icon-calendar"></i> Add to Calendar</button></p>

								{% include "partials/events-filters.twig" with results %}

							</div>

						</div>

						<div class="section other-calendars">
							{{ html }}
						</div>

					</div>

				</div>
				
				<div class="col extra-wide end content-col">

					<div class="events-container">
					
						{% for event in results.endpoint %}

							{% set data = { "data-start": event.start_date, "data-end": event.end_date } %}
							{% set classes = event.filterClasses %}

							{% if event.featured == true %}
								{% set classes = classes|merge(["featured"]) %}
							{% endif %}

							{# output the teaser #}
							{{ globalMacros.eventTeaser(event, classes, data) }}

						{% endfor %}

					</div>

				</div>

			</div>

		{% endif %}

      <div class="events-subscribe-container modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
              <h4>Add Events to your Calendar:</h4>
            </div>
            <div class="modal-body">
              <p>
               If you use Apple iCal, Google Calendar, or another program that supports the iCalendar format, you can automatically add these events. Select the date range, location(s), and topic(s) then click &quot;Add Events.&quot;
              </p>

              {% set subscribevars = { 'results': results, 'subscribe': true } %}

              {% include "partials/events-filters.twig" with subscribevars %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <a class="btn btn-primary events-subscribe" href="{{ request.rootUri|replace({'https': 'webcal', 'http': 'webcal'}) }}/events_subscribe">Add Events</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

	</div>
{% endblock %}

{% block footer %}
	<script type="text/template" id="template-topic-page-articles">
	{% include "partials/topic-page-article.js" %}
	</script>

	<script type="text/template" id="template-events-home-more">
	{% include "partials/events-home-more.js" %}
	</script>

	{{ parent() }}

  <script type="text/javascript" src="/assets/js/vendor/bootstrap/bootstrap-modal.js"></script>

	<script type="text/javascript">
	jQuery(document).ready(function ($) {
		hubevents.init();
	});
	</script>
{% endblock %}