{% extends "layouts/gazette.twig" %}

{% block title %}
{{ page_title }} | Gazette
{% endblock %}

{% block page_content %}

	{# used as-is on static pages #}

	{% set classes = ["page"] %}

	{% set classes = ["page"] %}
	{% if slug is defined %}
		{% set classes = classes|merge([slug ~ "-page"]) %}
	{% endif %}


	<div class="{{ classes|join(" ") }}">

		<div class="body-content">

			<div class="col measure wide">

				{% include "partials/messages.twig" %}
				
				<h1>{{ page_title }}</h1>

				<p>The Gazette has been online since 1994. For your convenience, we maintain an archive of all of the online issues here.</p>

			{% for year, theIssues in issues %}
				<h5>{{ year }} Issues</h5>
				<p>
				{% for issue in theIssues %}
					<a href="{{ issue.url }}">{{ issue.edition }} {{ issue.publish_date | date("Y") }}</a>
					{% if not loop.last %}
						<br />
					{% endif %}
				{% endfor %}
				</p>
			{% endfor %}

				{# past issues #}
				{{ html }}

			</div>

		</div>

		{% include "partials/article-sidebar.twig" %}

	</div>
	
{% endblock %}

{% block footer %}
	<script type="text/template" id="template-new-tab">
	{% include "partials/new-tab.js" %}
	</script>
	<script type="text/template" id="template-trending-tab">
	{% include "partials/trending-tab.js" %}
	</script>
	<script type="text/template" id="template-hubpix-promo">
    {% include "partials/hubpix-promo.js" %}
    </script>
	{{ parent() }}
	<script type="text/javascript">
	jQuery(document).ready(function ($) {
	    hubster.activateNewTrending();

	    hubstagram.init({
			container: ".hubpix-promo .pix",
			template: "#template-hubpix-promo"
		}).promote(6);
	});
	hubstagram.init({
    	container: ".hubpix-promo .pix",
    	template: "#template-hubpix-promo"
    }).promote(6);
	</script>
{% endblock %}